body {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em; }

/*Layout*/
#titlebar {
  padding: 30px 0; }
  #titlebar.single {
    padding: 30px 0; }
  @media (min-width: 768px) {
    #titlebar span.dm-qualified {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }
  #titlebar h2 {
    font-size: 28px;
    font-weight: bold; }

/*Typography*/
.highlight-text {
  color: #CA5242; }

h1, h2, h3, h4, h5 {
  font-weight: bold; }

ul.dashes {
  list-style: none; }
  ul.dashes li:before {
    content: '-';
    margin-right: 5px; }

.buttons button {
  font-family: "Montserrat", serif !important;
  font-weight: bold; }

.buttons a {
  padding: 10px 14px;
  text-transform: uppercase; }
  .buttons a.send-email {
    background: #fff;
    box-shadow: inset 0 0 1px 1px #CA5242;
    color: #000;
    margin-left: 25px; }

button, input[type="submit"] {
  background: #CA5242;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0 !important; }

#footer {
  color: #E0E0E0;
  line-height: 150%; }
  @media (min-width: 768px) {
    #footer .container > div:nth-child(2) {
      margin-left: 120px; } }
  #footer .widget_text ul {
    padding: 0;
    list-style: none; }
  #footer .widget_text a {
    color: #E0E0E0; }
    #footer .widget_text a.highlight-text {
      color: #CA5242; }
    #footer .widget_text a:hover {
      opacity: 0.9; }
  #footer .copyrights span {
    color: #fff; }

/*Form Elements*/
.checkbox-label {
  /* LightGrey */ }

select {
  display: block;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #202020;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #E0E0E0;
  background-color: #F6F6F6;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%; }

/*Custom Icons*/
.dm-icon-marker:before {
  background-image: url("../images/marker.svg");
  content: ' ';
  display: inline-block;
  width: 11px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.dm-icon-calendar:before {
  background-image: url("../images/calendar.svg");
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 14.5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 768px) {
  .new-layout.job_listings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

.new-layout.job_listings li.dm-list-item {
  border-bottom: none !important;
  margin-bottom: 10px;
  box-shadow: inset #E0E0E0 0 0 1px 1px;
  border-radius: 8px; }
  @media (min-width: 768px) {
    .new-layout.job_listings li.dm-list-item {
      width: 48%;
      margin-right: 2%;
      position: relative;
      padding-bottom: 100px !important; } }
  .new-layout.job_listings li.dm-list-item:nth-child(2n) {
    background: transparent; }
  .new-layout.job_listings li.dm-list-item:hover {
    border: none !important;
    box-shadow: inset #E0E0E0 0 0 1px 1px;
    background: #F6F6F6; }
  .new-layout.job_listings li.dm-list-item .listing-icons {
    font-size: 16px;
    text-decoration: none;
    border: none; }
    .new-layout.job_listings li.dm-list-item .listing-icons li {
      box-shadow: none; }
  .new-layout.job_listings li.dm-list-item p {
    color: #000; }
  .new-layout.job_listings li.dm-list-item .document_type {
    color: #CA5242; }
  .new-layout.job_listings li.dm-list-item a {
    border: none !important;
    background: transparent;
    padding-left: 0;
    padding-bottom: 0; }
    .new-layout.job_listings li.dm-list-item a:hover {
      background: transparent; }
    .new-layout.job_listings li.dm-list-item a .listing-title h4 {
      font-size: 18px;
      font-weight: bold;
      line-height: 22px; }

.new-layout.job_listings .buttons {
  padding: 25px 0;
  padding-left: 25px; }
  @media (min-width: 768px) {
    .new-layout.job_listings .buttons {
      position: absolute;
      width: 100%;
      bottom: 0; } }
  .new-layout.job_listings .buttons button {
    padding: 10px 14px;
    border-radius: 4px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: none;
    transition: none; }
    @media screen and (max-width: 767px) {
      .new-layout.job_listings .buttons button {
        display: block;
        margin-bottom: 10px; } }
    .new-layout.job_listings .buttons button.open-download-notice-popup {
      background: #F3F3F3;
      color: #000;
      box-shadow: #CA5242 0 0 0.5px 0.5px;
      border-radius: 4px; }
      .new-layout.job_listings .buttons button.open-download-notice-popup:hover {
        background: #CA5242;
        color: #fff; }
    .new-layout.job_listings .buttons button.open-mini-info-popup {
      background: #fff;
      color: #202020;
      margin-left: 15px;
      box-shadow: #CA5242 0 0 0.5px 0.5px; }
      .new-layout.job_listings .buttons button.open-mini-info-popup:hover {
        background: #CA5242;
        color: #fff; }
      @media screen and (max-width: 767px) {
        .new-layout.job_listings .buttons button.open-mini-info-popup {
          margin-left: 0; } }

/*Magnific Popup*/
.mfp-content {
  font-size: 16px;
  line-height: 150%;
  color: #202020; }
  .mfp-content .rating {
    width: auto;
    height: auto; }
  .mfp-content .mfp-close {
    background-color: transparent !important;
    background-image: url("../images/cross.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px; }
  @media screen and (min-width: 1200px) {
    .mfp-content #download-notice {
      min-width: 780px; } }
  .mfp-content #download-notice label {
    color: #202020;
    cursor: pointer;
    line-height: 2;
    font-weight: bold; }
    .mfp-content #download-notice label input[type="checkbox"] {
      display: none; }
    .mfp-content #download-notice label span.checkbox {
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: bottom;
      /* LightGrey */
      background: #F6F6F6;
      /* GreyStrokes */
      border: 1px solid #E0E0E0;
      margin-right: 5px;
      position: relative; }
    .mfp-content #download-notice label input:checked ~ .checkbox {
      background-color: #CA5242; }
    .mfp-content #download-notice label input:checked ~ .checkbox:after {
      display: block;
      content: ' ';
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      left: 25%;
      top: 50%;
      -webkit-transform: rotate(45deg) translate(-50%, -50%);
          -ms-transform: rotate(45deg) translate(-50%, -50%);
              transform: rotate(45deg) translate(-50%, -50%);
      position: absolute; }
  .mfp-content #download-notice h3 {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px; }
  .mfp-content #download-notice .disclaimer p {
    margin-bottom: 20px; }
  .mfp-content .highlight-text {
    margin-bottom: 40px;
    color: #CA5242; }
  .mfp-content a.download-notice-btn {
    background: #CA5242; }
  .mfp-content #mini-info {
    font-size: 16px;
    font-style: normal;
    font-weight: normal; }
    @media screen and (min-width: 1200px) {
      .mfp-content #mini-info {
        min-width: 647px; } }
    .mfp-content #mini-info h3 {
      margin-bottom: 0;
      line-height: 1;
      font-size: 16px;
      font-weight: bold; }
    .mfp-content #mini-info .bond-attr {
      margin-bottom: 20px; }

/* main navigation */
#navigation li {
  text-transform: uppercase; }

#navigation .float-right li a {
  background: transparent; }
  #navigation .float-right li a .fa-sign-out {
    display: none; }

#navigation .float-right li .signup-link:hover {
  color: rgba(51, 51, 51, 0.7); }

#navigation .float-right li:last-child a {
  color: #CA5242; }

.workscout_form label i {
  top: 42px; }

#dm-filter-search strong {
  margin-right: 20px; }

@media (min-width: 768px) {
  #dm-filter-search div {
    display: inline-block; } }

#wsc-filter-mix-type .filter-label {
  display: inline;
  margin-right: 80px; }

#wsc-filter-mix-type label {
  margin-right: 20px; }
  @media (min-width: 768px) {
    #wsc-filter-mix-type label {
      display: inline; } }
  #wsc-filter-mix-type label .radio {
    margin-right: 12px; }

@media (min-width: 768px) {
  .dm-filter-buttons {
    float: right;
    margin-right: 4.5%; }
    .dm-filter-buttons #wsc-reset-filters {
      margin-right: 20px; } }

.advanced-search-popup {
  background: #fff;
  padding: 30px 40px 35px 40px;
  text-align: left;
  max-width: 1180px;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .advanced-search-popup {
      min-width: 1180px;
      max-width: 1200px; } }

@media (min-width: 768px) {
  .dm-advanced-search-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .dm-advanced-search-options div.widget {
      width: 22%;
      margin-right: 3%; } }

#dm-filter-per-page-wrapper h4 {
  font-size: 14px; }

@media (min-width: 768px) {
  #dm-filter-per-page-wrapper {
    position: absolute;
    top: 420px;
    right: 80px; } }

#dm-filter-per-page-wrapper #wsc-filter-perpage-ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  #dm-filter-per-page-wrapper #wsc-filter-perpage-ul li {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #F6F6F6;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 40px;
    font-family: "Montserrat", serif;
    text-align: center; }
    @media screen and (max-width: 767px) {
      #dm-filter-per-page-wrapper #wsc-filter-perpage-ul li {
        display: inline-block; } }
    #dm-filter-per-page-wrapper #wsc-filter-perpage-ul li a {
      color: #666;
      font-weight: 700; }
    #dm-filter-per-page-wrapper #wsc-filter-perpage-ul li.active, #dm-filter-per-page-wrapper #wsc-filter-perpage-ul li:hover {
      background: #CA5242; }
      #dm-filter-per-page-wrapper #wsc-filter-perpage-ul li.active a, #dm-filter-per-page-wrapper #wsc-filter-perpage-ul li:hover a {
        color: #fff; }

@media (min-width: 768px) {
  .job-manager-pagination.pagination {
    position: absolute;
    top: 420px;
    left: 40px;
    background: transparent; }
    .job-manager-pagination.pagination ul {
      padding: 0;
      margin: 0;
      list-style: none; }
    .job-manager-pagination.pagination li {
      width: 40px;
      display: list-item;
      float: none !important;
      position: relative !important;
      margin-bottom: 2px; }
      .job-manager-pagination.pagination li span, .job-manager-pagination.pagination li a {
        padding: 5px 0;
        width: 100%; } }

.job-manager-pagination.pagination .dm-prev-nav a, .job-manager-pagination.pagination .dm-next-nav a {
  margin: 0;
  padding: 0 5px;
  background: transparent; }

.job-manager-pagination.pagination .dm-prev-nav img, .job-manager-pagination.pagination .dm-next-nav img {
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px; }

.job-manager-pagination.pagination .dm-prev-nav {
  margin-bottom: 5px; }

.job-manager-pagination.pagination .dm-next-nav {
  margin-top: 5px; }
  @media screen and (max-width: 767px) {
    .job-manager-pagination.pagination .dm-next-nav {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); } }

.job_listings {
  position: static; }

.home .container.wpjm-container.full-width {
  position: static; }

.job_filters_links {
  display: none; }

@media (min-width: 768px) {
  .list-search {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 50%; } }

.list-search button {
  background-color: #CA5242 !important;
  color: #fff !important;
  border-radius: 0; }

.job_filters .widget {
  margin-bottom: 28px; }
  .job_filters .widget .fields-container {
    margin-bottom: 28px; }

.job_filters h4 {
  font-weight: bold; }

.job_filters .dm-form-fields {
  color: #202020; }
  .job_filters .dm-form-fields label {
    font-size: 16px;
    cursor: pointer; }
    .job_filters .dm-form-fields label input[type="radio"] {
      display: none; }
    .job_filters .dm-form-fields label .radio {
      cursor: pointer;
      width: 19px;
      height: 19px;
      border: 1px solid #E0E0E0;
      background: #F6F6F6;
      display: inline-block;
      border-radius: 50%;
      margin-right: 15px;
      vertical-align: middle; }
    .job_filters .dm-form-fields label input:checked ~ .radio {
      position: relative; }
      .job_filters .dm-form-fields label input:checked ~ .radio:after {
        display: block;
        content: ' ';
        width: 9.5px;
        height: 9.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background: #CA5242;
        border-radius: 50%; }

.job_filters .buttons button {
  padding: 14px 32px;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #CA5242;
  color: #CA5242;
  background-color: transparent;
  text-transform: uppercase; }
  .job_filters .buttons button:hover {
    color: #fff;
    background: #CA5242; }

.fields-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .fields-container .dm-full-col {
    width: 100%; }
  .fields-container .dm-half-col {
    width: calc(50% - 15px); }

@media screen and (max-width: 767px) {
  .list-search {
    margin-top: 10px; } }

.open-presentation-popup {
  display: inline !important;
  margin-left: 20px;
  color: #CA5242; }
  .open-presentation-popup .fa-video-camera {
    color: #CA5242;
    font-size: 20px;
    font-weight: bold; }

.dm-presentation .small-dialog-content iframe {
  width: 744px !important;
  height: 601px !important; }
  @media screen and (max-width: 767px) {
    .dm-presentation .small-dialog-content iframe {
      width: 350px !important;
      height: 292px !important; } }

.main {
  padding: 40px 0;
  border-top: 1px solid #E0E0E0;
  line-height: 150%; }

.single-job_listing .job-overview {
  padding: 0; }

.single-job_listing .buttons a.open-presentation-popup {
  background: none;
  border: none;
  display: inline-block !important; }

.single-job_listing .intro {
  padding-top: 32px;
  margin-bottom: 40px; }
  .single-job_listing .intro h3 {
    font-size: 18px;
    font-weight: bold;
    color: #202020; }

.single-job_listing .project-meta span {
  font-size: 16px;
  line-height: 32px;
  margin-right: 5px; }

.single-job_listing form select, .single-job_listing form input[type="text"], .single-job_listing form textarea {
  color: #666666;
  line-height: 2;
  padding: 14px 18px;
  background: #fcfcfc; }

.single-job_listing form label {
  font-size: 16px;
  color: #202020; }

.single-job_listing form .share_content_wrap {
  height: 164px; }
  .single-job_listing form .share_content_wrap textarea {
    height: 100%; }

@media screen and (max-width: 767px) {
  .single-job_listing .large-screen-presentation {
    display: none; } }

@media (min-width: 768px) {
  .single-job_listing .mobile-screen-presentation {
    display: none; } }

@media (min-width: 768px) {
  .single-job_listing #dm-job-details {
    width: 500px; }
  .single-job_listing #job-details {
    width: 600px; } }

/*# sourceMappingURL=maps/main.css.map */
