body {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
}

/*Layout*/
#titlebar {
  padding: 30px 0;
  &.single {
    padding: 30px 0;
  }
  span.dm-qualified {
    @include desktop {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
}

/*Typography*/
.highlight-text {
  color: $primary-color;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

ul.dashes {
  list-style: none;
  li {
    &:before {
      content: '-';
      margin-right: 5px;
    }
  }
}

.buttons {
  button {
    //https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap
    font-family: "Montserrat", serif !important;
    font-weight: bold;
  }
  a {
    padding: 10px 14px;
    text-transform: uppercase;
    &.send-email {
      background: #fff;
      box-shadow: inset 0 0 1px 1px #CA5242;
      color: #000;
      margin-left: 25px;
    }
  }
}

button, input[type="submit"] {
  background: $primary-color;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0 !important;
}

#footer {
  .container > div:nth-child(2) {
    @include desktop {
      margin-left: 120px;
    }
  }
  color: #E0E0E0;
  line-height: 150%;
  .widget_text {
    ul {
      padding: 0;
      list-style: none;
    }
    a {
      color: #E0E0E0;
      &.highlight-text {
        color: $primary-color;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .copyrights {
    span {
      color: #fff;
    }
  }
}

/*Form Elements*/
.checkbox-label {
  /* LightGrey */
  //background: #F6F6F6;
}

select {
  display: block;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #202020;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #E0E0E0;
  background-color: #F6F6F6;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

/*Custom Icons*/
.dm-icon-marker {
  &:before {
    background-image: url("../images/marker.svg");
    content: ' ';
    display: inline-block;
    width: 11px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.dm-icon-calendar {
  &:before {
    background-image: url("../images/calendar.svg");
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 14.5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.new-layout.job_listings {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
  li.dm-list-item {
    @include desktop {
      width: 48%;
      margin-right: 2%;
      position: relative;
      padding-bottom: 100px!important;
    }
    border-bottom: none !important;
    margin-bottom: 10px;
    box-shadow: inset $list-border-color 0 0 1px 1px;
    border-radius: 8px;
    &:nth-child(2n) {
      background: transparent;
    }
    &:hover {
      border: none !important;
      box-shadow: inset $list-border-color 0 0 1px 1px;
      background: $list-background-color;
    }
    .listing-icons {
      font-size: 16px;
      text-decoration: none;
      border: none;
      li {
        box-shadow: none;
      }
    }
    p {
      color: #000;
    }
    .document_type {
      color: $primary-color;
    }
    a {
      border: none !important;
      background: transparent;
      padding-left: 0;
      padding-bottom: 0;
      &:hover {
        background: transparent;
      }
      .listing-title {

        h4 {
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
        }

      }
    }

  }
  .buttons {
    padding: 25px 0;
    padding-left: 25px;
    @include desktop{
      position: absolute;
      width: 100%;
      bottom: 0;
    }
    button {
      padding: 10px 14px;
      border-radius: 4px!important;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: none;
      @include mobile {
        display: block;
        margin-bottom: 10px;
      }
      &.open-download-notice-popup {
        background: #F3F3F3;
        color: #000;
        box-shadow:$primary-color 0 0 0.5px 0.5px;
        border-radius: 4px;
        &:hover{
          background: $primary-color;
          color: #fff;
        }
      }
      &.open-mini-info-popup {
        background: #fff;
        color: #202020;
        margin-left: 15px;
        box-shadow:$primary-color 0 0 0.5px 0.5px;
        &:hover{
          background: $primary-color;
          color: #fff;
        }
        @include mobile {
          margin-left: 0;
        }
      }
    }
  }
}

/*Magnific Popup*/
.mfp-content {
  font-size: 16px;
  line-height: 150%;
  color: $alt-font-color;
  .rating {
    width: auto;
    height: auto;
  }
  .mfp-close {
    background-color: transparent !important;
    background-image: url("../images/cross.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
  }
  #download-notice {
    @media screen and (min-width: 1200px) {
      min-width: 780px;
    }

    label {
      color: $alt-font-color;
      cursor: pointer;
      line-height: 2;
      font-weight: bold;
      input[type="checkbox"] {
        display: none;
      }
      span.checkbox {
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: bottom;
        /* LightGrey */
        background: #F6F6F6;
        /* GreyStrokes */
        border: 1px solid #E0E0E0;
        margin-right: 5px;
        position: relative;
      }
      input:checked ~ .checkbox {
        background-color: $primary-color;
      }
      input:checked ~ .checkbox:after {
        display: block;
        content: ' ';
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        left: 25%;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        position: absolute;
      }
    }
    h3 {
      color: #000;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
    }
    .disclaimer {
      p {
        margin-bottom: 20px;
      }
    }
  }
  .highlight-text {
    margin-bottom: 40px;
    color: $primary-color;
  }
  a.download-notice-btn {
    background: $primary-color;
  }

  #mini-info {
    @media screen and (min-width: 1200px) {
      min-width: 647px;
    }
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    h3 {
      margin-bottom: 0;
      line-height: 1;
      font-size: 16px;
      font-weight: bold;
    }
    .bond-attr {
      margin-bottom: 20px;
    }
  }
}

/* main navigation */
#navigation {
  li {
    text-transform: uppercase;
  }
  .float-right {
    li {
      a {
        .fa-sign-out {
          display: none;
        }
        background: transparent;
      }
      .signup-link:hover{
        color:rgba(51,51,51,0.7);
      }
      &:last-child {
        a {
          color: $primary-color;
        }
      }
    }
  }
}

.workscout_form label i {
  top: 42px;
}

#dm-filter-search {
  strong{
    margin-right: 20px;
  }
  @include desktop {
    div {
      display: inline-block;
    }
  }
}

#wsc-filter-mix-type {
  .filter-label {
    display: inline;
    margin-right: 80px;
  }
  label {
    @include desktop{
      display: inline;
    }
    margin-right: 20px;
    .radio {
      margin-right: 12px;
    }
  }
}

.dm-filter-buttons {
  @include desktop {
    float: right;
    margin-right: 4.5%;
    #wsc-reset-filters {
      margin-right: 20px;
    }
  }
}

.advanced-search-popup {
  background: #fff;
  padding: 30px 40px 35px 40px;
  text-align: left;
  max-width: 1180px;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;
  @include desktop {
    min-width: 1180px;
    max-width: 1200px;
  }
}

.dm-advanced-search-options {

  @include desktop {
    display: flex;
    div.widget {
      width: 22%;
      margin-right: 3%;
    }
  }
}

#dm-filter-per-page-wrapper {
  h4{
    font-size: 14px;
  }
  @include desktop {
    position: absolute;
    top: 420px;
    right: 80px;
  }
  #wsc-filter-perpage-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: #F6F6F6;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 40px;
      font-family: "Montserrat", serif;
      text-align: center;
      @include mobile{
        display: inline-block;
      }
      a {
        color: #666;
        font-weight: 700;
      }
      &.active, &:hover {
        background: $primary-color;
        a {
          color: #fff;
        }
      }
    }
  }
}

.job-manager-pagination.pagination {
  @include desktop {
    position: absolute;
    top: 420px;
    left: 40px;
    background: transparent;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      width: 40px;
      display: list-item;
      float: none !important;
      position: relative !important;
      margin-bottom: 2px;
      span, a {
        padding: 5px 0;
        width: 100%;
      }
    }
  }

  .dm-prev-nav, .dm-next-nav {
    a {
      margin: 0;
      padding: 0 5px;
      background: transparent;
    }
    img {
      padding: 0;
      margin: 0;
      width: 28px;
      height: 28px;
    }
  }

  .dm-prev-nav {
    margin-bottom: 5px;
  }
  .dm-next-nav {
    margin-top: 5px;
    @include mobile{
      transform: rotate(-90deg);
    }
  }

}

.job_listings{
  position: static;
}
