.home{
  .container.wpjm-container.full-width{
    position: static;
  }
}
.job_filters_links {
  display: none;
}

.list-search {
  @include desktop{
    margin: 0 auto;
    margin-bottom: 25px;
    width:50%;
  }
  button {
    background-color: $primary-color !important;
    color: #fff !important;
    border-radius: 0;
  }
}

.job_filters {
  .widget {
    margin-bottom: 28px;
    .fields-container {
      margin-bottom: 28px;
    }
  }
  h4 {
    font-weight: bold;
  }
  .dm-form-fields {
    color: #202020;
    label {
      font-size: 16px;
      cursor: pointer;
      input[type="radio"] {
        display: none;
      }
      .radio {
        cursor: pointer;
        width: 19px;
        height: 19px;
        border: 1px solid #E0E0E0;
        background: #F6F6F6;
        display: inline-block;
        border-radius: 50%;
        margin-right: 15px;
        vertical-align: middle;
      }
      & input:checked ~ .radio {
        position: relative;
        &:after {
          display: block;
          content: ' ';
          width: 9.5px;
          height: 9.5px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: $primary-color;
          border-radius: 50%;
        }
      }
    }
  }
  .buttons {
    button {
      padding: 14px 32px;
      font-size: 14px;
      line-height: 17px;
      border: 1px solid $primary-color;
      color: $primary-color;
      background-color: transparent;
      text-transform: uppercase;
      &:hover {
        color: #fff;
        background: $primary-color;
      }
    }
  }
}

.fields-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .dm-full-col {
    width: 100%;
  }
  .dm-half-col {
    width: calc(50% - 15px);
  }
}

.list-search {
  @include mobile {
    margin-top: 10px;
  }
}

.open-presentation-popup {
  display: inline !important;
  margin-left: 20px;
  color: $primary-color;
  .fa-video-camera {
    color: $primary-color;
    font-size: 20px;
    font-weight: bold;
  }
}

.dm-presentation {
  .small-dialog-content iframe {
    width: 744px !important;
    height: 601px !important;
    @include mobile {
      width: 350px !important;
      height: 292px !important;
    }
  }
}