.single-job_listing {
  .job-overview {
    padding: 0;
  }
  .buttons {
    a.open-presentation-popup {
      background: none;
      border: none;
      display: inline-block !important;
    }
  }
  .intro {
    padding-top: 32px;
    margin-bottom: 40px;
    h3 {
      font-size: 18px;
      font-weight: bold;
      color: $alt-font-color;
    }
  }
  .project-meta {
    span {
      font-size: 16px;
      line-height: 32px;
      margin-right: 5px;
    }
  }

  form {
    select, input[type="text"], textarea {
      color: #666666;
      line-height: 2;
      padding: 14px 18px;
      background: #fcfcfc;
    }
    label {
      font-size: 16px;
      color: $alt-font-color;
    }
    .share_content_wrap {
      height: 164px;
      textarea {
        height: 100%;
      }
    }
  }

  .large-screen-presentation {
    @include mobile {
      display: none;
    }
  }
  .mobile-screen-presentation {
    @include desktop {
      display: none;
    }
  }

  @include desktop {
    #dm-job-details {
      width: 500px;
    }
    #job-details {
      width: 600px;
    }
  }

}

